{#This page respond for style in homepage#}

<style>
    {# frame of images that give equal space between them #}
    .passe-partout {
        padding: 10px; /* Passe-partout size */
        background: #f0f0f0; /* Passe-partout background color */
        border: 2px solid black; /* Frame Options */
        display: inline-block; /* Inline-block element*/
        margin: 1em; /* remove space */
    }

    .passe-partout img {
        border: 3px;
        /* frame around img */
    }
    {#syle for button filters#}

    .btn {
    background-color: #2196F3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
}

.dropdown {
    position: initial;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}



  button.new {
    background: -moz-linear-gradient(#00BBD6, #EBFFFF);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00BBD6), to(#EBFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
    padding: 3px 7px;
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
   }
</style>