{#This page respond for style in homepage#}

<style>
    {# frame of images that give equal space between them #}
    .passe-partout {
        padding: 10px; /* Passe-partout size */
        background: #f0f0f0; /* Passe-partout background color */
        border: 2px solid black; /* Frame Options */
        display: inline-block; /* Inline-block element*/
        margin: 1em; /* remove space */
    }

    .passe-partout img {
        border: 3px;
        /* frame around img */
    }

    .b_color {
        background: navy;
        color: antiquewhite;
        width: 200px;
        height: 25px;
    }
</style>