{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block container %}
    <h1>User profile:{{ user.username }} </h1>
    <hr>
    <img src="https://cdn.icon-icons.com/icons2/2506/PNG/512/user_icon_150670.png" width="200" height="200"
         alt="picture">
    <div><span style="font-size:35px;color: gray">Nickname:</span> <span
            style="font-size: 30px; ">{{ user.username }}</span></div>
    <div><span style="font-size:35px;color: gray">Email:</span> <span
            style="font-size: 30px; ">{{ user.email }}</span></div>
{% endblock %}
