{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block container %}
    <style>
        .b_color {
            background: navy;
            color: antiquewhite;
            width: 200px;
            height: 25px;
        }
    </style>
    <img src="{{ object.img }}" width="300" height="300"
         alt="picture">
    <hr>
    <h1>Robot: {{ object.name }} </h1>
    <div><span style="font-size:35px;color: black">Description: </span> <span
            style="font-size: 30px; ">{{ object.description }}</span></div>
    <div><span style="font-size:35px;color: crimson">Price:</span> <span
            style="font-size: 30px; ">{{ object.price }}</span>
    </div>
    <div><span style="font-size:35px;color: crimson">Count:</span> <span
            style="font-size: 30px; ">{{ object.count }}</span>
    </div>
    {% if user.is_staff %}
        <div>
            <a href="{% url "product:product-update" object.slug%}">
                <button>Update item</button>

        </a></div>
    {% endif %}

    {% if  object.available %}
        {% if not user.is_authenticated %}
            <form action="{% url "user:login" %}" >
                    <input type="submit" value="Add to cart">
                </form>
            {% else %}
                <form action="{% url "cart:cart_add" object.slug %}" method="post">
           {{ object_list }}
           {% csrf_token %}
           <input type="submit" value="Add to cart">
        </form>

            {% endif %}


    {% else %}
        <div><span style="font-size:35px;color: gray">Available:</span><span style="font-size: 30px; ">None</span></div>
        <p>
            <button disabled>Buy</button>
        </p>


    {% endif %}

{% endblock %}