{#Mother of all html files with button cart/profile/homepage#}
<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Default tittle {% endblock %}</title>
</head>
<body>
<nav>
    <div style="text-align: center;">

        <form action="/" target="_self">
            <button>Home</button>
        </form>

        <form action="/cart" target="_self">
            <button>Cart</button>
        </form>

        <form action="/profile" target="_self">
            <button class="button_menu">ArteZee</button>
        </form>
    </div>
</nav>
</body>
<div class="container ">
    {% block container %}{% endblock %}
</div>

</html>
