{#Html home page / catalog of products#}
{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block container %}
    {% include "styles_web/style_hompage.html" %}
    <h1 align="center">Catalog</h1>
    <hr color="black">
 {% include "filters_button.html" %}
    {% for el in element_product %}
        <figure class="passe-partout">
            <img src={{ el.product_img }} width="200" height="231" alt={{ el.product_name }}
                    class="passe-partout">
            <h1>Robot: {{ el.product_name }} </h1>
            <div><span style="font-size:35px;color: crimson">Price:</span> <span
                    style="font-size: 30px; "> {{ el.product_price }} </span>
            </div>
            <a href="{% url "product" product_name=el.product_slug %}">
                <p>
                    <button class="b_color">More</button>
                </p>
            </a>
        </figure>
    {% endfor %}
{% endblock %}
