{#Html home page / catalog of products#}
{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block container %}
    {% include "styles_web/style_hompage.html" %}
    <h1 align="center">Catalog</h1>
    <hr color="black">
    {% include "filters_button.html" %}
    {% for el in object_list %}

        {% if not el.available %}
            <figure class="passe-partout" style="background: dimgrey">
        {% else %}
            <figure class="passe-partout">
        {% endif %}
           <img src={{ el.img }} width="200" height="231" alt={{ el.name }}
                    class="passe-partout">
            <h1>Robot: {{ el.name }} </h1>
            <div><span style="font-size:35px;color: crimson">Price:</span> <span
                    style="font-size: 30px; "> {{ el.price }} </span>
            </div>
            {% if not el.available %}
                <h2>not available</h2>
            {% endif %}
            <a href="{% url "product:product" slug=el.slug %}">
                <p>
                    <button class="new">More</button>
                </p>
            </a>
        </figure>









    {% endfor %}
{% endblock %}
